.topbar{
    height:50px;
    background-color: rgb(47, 43, 65);
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    position: relative;
    .topbar-paragraph{
        padding:10px;
        cursor: pointer;
        color:rgb(161, 161, 161);
        font-weight: 500;
    }
    
    .topbar-icon{
        cursor: pointer;
        color:orangered;
    }
   
    

    .topbar-left{
        display: flex;
        justify-content: space-between;
        color:white;
        left: 80px;
        position: absolute;
        .topbar-left-left{
            display: flex;
            align-items: center;
            padding-right:20px;
            padding-left:20px;
        }
        .topbar-left-right{
            display: flex;
            align-items: center;
            padding-right:20px;
            padding-left: 20px;
        }
    }
    .topbar-right{
        display: flex;
        justify-content: space-between;
        color:white;
        right: 80px;
        position: absolute;
        .topbar-right-left{
            display: flex;
            align-items: center;
            padding:5px;
            padding-right:20px;
            padding-left: 20px;
            .topbar-paragraph-call{
                padding:10px;
                cursor: pointer;
                color:orangered;
                font-weight: 500;
            }
            .topbar-icon-call{
                cursor: pointer;
                color:white;
            }
        }
        .topbar-right-right{
            display: flex;
            align-items: center;
            padding:5px;
            padding-right:20px;
            padding-left: 20px;
            .topbar-icon-shop{
                cursor: pointer;
                transition: all 0.8s ease;
                &:hover{
                    color:orangered;
                }
            }
        }
    }
    
}